.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  overflow-y: scroll;
  scrollbar-gutter: stable;
  transition: background-color var(--transition-speed);
}

.main {
  flex: 1;
  padding: 20px;
  padding-top: 92px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: var(--text-primary);
  transition: color var(--transition-speed);
}
